@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

.heading {
	display: none
}

.card {
	margin: 0px;
	border: none;
	font-family: 'Roboto Condensed';
	font-size: 12px;
	display: inline !important;
	width: 100%;
}

.dontbreak {
	page-break-inside: avoid;
}

/* Stat Blocks */
.stat-block-title, .stat-block-breaker {
	font: normal 16px 'Liberation Sans', sans-serif;
	text-transform: uppercase;
}

.stat-block-title {
	font-weight: bold;
	letter-spacing: 1px;
    margin: 0px;
}

.stat-block-breaker {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 6px;
    margin-bottom: 0px;
}

.flavor-text {
	font-style: italic;
    margin: 0px;
    font-size: 12px;
}

.stat-block, .stat-block-1, .stat-block-2 {
	font: normal 13px 'Roboto', sans-serif;
	line-height: 1.5em;
	margin: 0px 0;
}

.stat-block-2 {
	text-indent: 25px;
}

.stat-block-xp {
	font: normal 14px 'Liberation Sans', sans-serif;
	font-weight: bold;
	margin: 0;
}

.stat-block-cr {
	float: right;
	padding: 0 5px 0 0;
}

.stat-block-rp {
	padding: 0 0 0 10px;
	font-weight: bold;
	font-style: italic;
}
