<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='print.css') }}" media="print" />
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class='heading'>
            <h1>{{ title }}</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.creature.label }}<br>
                    {{ form.creature(size=32) }}
                    {{ form.submit() }}
                </div>
            </form>
        </div>
        {% if data %}
        {% include 'card.html' %}
        {% endif %}
    </body>
</html>
